<div class="wrapper database vertical" (click)="resetDropdowns()">

    <section class="horizontal primary-text-dark" id="choose-language-panel">
        <div class="dropdown" id="dropdown-language-from">
            <a href="javascript:void(0)" class="dropdown-button" 
                (click)="toggleDropdown($event, 'from')" [class]="">{{languageNameFrom}}</a>
            <div class="dropdown-content" *ngIf="isOpenFrom">
                <a href="javascript:void(0)" *ngFor="let language of allLanguages" 
                    (click)="selectLanguage('from', language)">{{language.name}}</a>
            </div>
        </div>

        <button class="button button-big yellow" (click)="swapLanguages()"><==></button>

        <div class="dropdown" id="dropdown-language-to" >
            <a href="javascript:void(0)" class="dropdown-button" 
                (click)="toggleDropdown($event, 'to')">{{languageNameTo}}</a>
            <div class="dropdown-content" *ngIf="isOpenTo">
                <a href="javascript:void(0)" *ngFor="let language of allLanguages" 
                    (click)="selectLanguage('to', language)">{{language.name}}</a>
            </div>
        </div>
    </section>    

    <section class="horizontal input-word-panel" id="process-word-panel">
        <input type="text" placeholder="Word" [(ngModel)]="inputWord"/>
        <input type="text" placeholder="Translations" [(ngModel)]="inputTranslations">
        <input type="text" placeholder="Tags" [(ngModel)]="inputTags">
        <button class="button button-big green" (click)="submitWord()">Submit</button>
    </section>

    <p id="loading-sign" *ngIf="isTableLoading">Loading the database...</p>

    <section class="">        
        <table id="words-table">

            <tr>
                <th colspan="6">Total: {{words.length}}</th>
            </tr>
            <tr>
                <th>Word</th>
                <th>Translations</th>
                <th>Score</th>
                <th>Tags</th>
                <th>@E</th> 
                <th>@D</th> 
            </tr>
            <tr *ngFor="let word of words; let wordIndex = index">
                <td><a href="">{{word.w}}</a></td>
                <td><span *ngFor="let translation of translations[wordIndex]"><a href="">{{(translation ? translation.w : "")}}</a>; </span></td>
                <td>{{word.s}}</td>
                
                <!--MB change to an array as with translations-->
                <td>{{word.t.join("; ")}}</td>

                <td><button (click)="editWord(word, wordIndex)" class="button button-small yellow">Edit</button></td>
                <td><button (click)="removeWord(word)" class="button button-small red" 
                    [disabled]="translations[wordIndex] ? translations[wordIndex].length == 0 : true">Del</button></td>
            </tr>
            
        </table>
    </section>
    
    <div class="" id="edit-word-view" *ngIf="idOfWordBeingEdited != undefined">
        <section class="horizontal input-word-panel">
            <input type="text" placeholder="Word" [(ngModel)]="inputWord"/>
            <input type="text" placeholder="Translations" [(ngModel)]="inputTranslations">
            <input type="text" placeholder="Tags" [(ngModel)]="inputTags">
            <button class="button button-big green" (click)="submitWordEdit()">Submit</button>
            <button class="button button-big green" (click)="discardWordEdit()">Discard</button>
        </section>
    </div>

    <button (click)="showDB()">SHOW</button>

    <br/>

    <button (click)="dumpChangesToDatabase()">SAVE</button>

</div>