<div class="wrapper settings vertical">

    <section id="languages">
        <h2>LANGUAGES</h2>        

        <section id="select-languages">
            <table id="languages-table">
                <tr>                    
                    <th>Language</th>
                    <th>From</th>
                    <th>To</th>                    
                </tr>
                <tr *ngFor="let language of registeredLanguages; let langIndex = index">                    
                    <td>{{language.name}}</td>
                    <td><input type="radio" name="radioLanguageFrom" (click)="selectLanguage('from', langIndex)"
                         value="{{langIndex}}" [checked]="langIndex == this.db.testingLanguageFrom"></td>
                    <td><input type="radio" name="radioLanguageTo" (click)="selectLanguage('to', langIndex)"
                         value="{{langIndex}}" [checked]="langIndex == this.db.testingLanguageTo"></td>                    
                </tr>
            </table>
        </section>      
        
        <section id="testing-mode">
            <input type="checkbox" [(ngModel)]="this.db.isTestingBothWays"> Do testing both ways
        </section>
    </section>    

    <section class="vertical" id="tags">
        <h2>TAGS</h2>

        <section id="add-tag">
            <section class="horizontal input-panel">
                <input type="text" placeholder="Tag name" #inputTagName (keyup)="0">                
                <button class="button button-big green" 
                    [disabled]="inputTagName.value.trim().length == 0"
                    (click)="addTag(inputTagName.value.trim()); inputTagName.value='';">Add</button>
            </section>
        </section>

        <section id="select-tags">
            <table id="tags-table">
                <tr>
                    <th><a href="javascript:void(0)" (click)="checkAllTags()">Use all</a></th>
                    <th>Tag</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let tag of this.db.registeredTags; let tagIndex = index">
                    <td style="text-align: center;">
                        <input type="checkbox" [checked]="this.db.tagsToUse.includes(tag)" 
                            (click)="checkTag(tag)">
                    </td>
                    <td>{{tag}}</td>
                    <td>{{this.db.registeredTagsAmount[tagIndex]}}</td>
                    <!--<td style="text-align: center;">{{x.indices[0].length}}</td>
                    <td style="text-align: center;">{{x.indices[1].length}}</td>-->
                </tr>
            </table>
        </section>

        <section id="rename-tags">            
            <section class="horizontal input-panel">
                <input type="text" placeholder="Old tag name" #inputOldTagName (keyup)="0">
                <input type="text" placeholder="New tag name" #inputNewTagName (keyup)="0">
                <button class="button button-big green" 
                    [disabled]="inputOldTagName.value.trim().length == 0 || inputNewTagName.value.trim().length == 0"
                    (click)="renameTag(inputOldTagName.value.trim(), inputNewTagName.value.trim()); 
                        inputOldTagName.value=''; inputNewTagName.value='';">Rename</button>
            </section>
        </section>
    </section>

</div>
