<div class="wrapper testing vertical">
    <section class="horizontal" id="boxes-container">
        <div class="box">
            <span class="primary-text-dark" id="word-to-translate">#Word#</span>

            <span class="secondary-text-2" id="lang-label">#eng#</span>

            <span class="secondary-text-1" id="word-score">#110#</span>
        </div>

        <!-- ng-keypress="onSubmitKeyDown($event)" -->
        <textarea class="box primary-text-dark" id="user-answer" placeholder="Type answer here"></textarea>
    </section>

    <section class="" id="result-panel">
        <div class="horizontal">
            <div>
                <p>
                    <span class="primary-text-light" id="correct-answer-text">#All translations:||Corect answer:#</span>
                    <span class="primary-text-light" id="correct-answer">#translation#</span>
                </p>
            </div>

            <button class="button">#Submit||Next#</button>
        </div>
    </section>

    <section class="" id="flush-counter-panel">
        <div class="horizontal">
            <div>
                <span class="primary-text-dark">Until next save: #25#</span>
            </div>

            <button class="button">Save</button>
        </div>
    </section>
</div>
